@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "@tailwindcss/preflight";
// @import "@tailwindcss/utilities";

@import "page.scss";
@import "scroll.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;

  user-select: none; /* Padrão moderno */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge antigo */
  // pointer-events: none; /* Impede clique e arrasto (opcional) */
}

body {
  font-family: var(--font-chakra-petch), sans-serif;
  @apply dark:bg-blue-dark bg-blue-light;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

// .not-smoother {
//   transform: none !important; // ← Remove qualquer translateY que o Smoother aplicaria
//   will-change: auto;
// }
