@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "@tailwindcss/preflight";
// @import "@tailwindcss/utilities";

@import "scroll.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00050b;
  font-family: var(--font-chakra-petch), sans-serif;
}
